<h1>Homes#index</h1>
<p>Find me in app/views/homes/index.html.erb</p>


<a href="/homes/daumcafe"> 다음카페 내용</a> <a href="http://cafe.daum.net/ASMONACOFC/gAWF?boardType=" target="_blank">원본 보러가기</a><br> 
<a href="/homes/navertv"> 네이버 TV 순위</a> <a href="https://tv.naver.com" target="_blank">원본 보러가기</a><br>
