<h1>Homes#navertv</h1>
<p>Find me in app/views/homes/navertv.html.erb</p>

<hr>
<%= @size %>
<% @entry.each do |e| %>
    순위: <%= e[0] %> <br>
    제목: <%= link_to "#{e[1]}", "#{e[2]}", target: "_blank" %> <hr>
<% end %>